body{
    background-size: cover;
    margin: 0 auto;
    background-image: url("../homework4/images/bgJourney.jpg") ;
    background-repeat: no-repeat;
    width: 100%;
}
.header{
    background-size: cover;
    font-family: Verdana;
    background-color:  rgba(0, 0, 0, 0.41);
    height: 54px;
}
.logo{
    position: relative;
    top: 15px;
    left: 81px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
    transition: 0.2s;

}
.logo:hover{
    color: #3cb878;
    transition: 0.2s;
}
.sprite {
    position: absolute;
    right: 299px;
    top: 16px;
}
.calendar{
    margin-right: 28px;
    display: inline-block;
    background: url("sprites/spriteAll.png") 0 0;
    width: 19px;
    height: 19px;
    cursor: pointer;
    transition: 0.2s;
}
.forum{
    margin-right: 28px;
    display: inline-block;
    background: url("sprites/spriteAll.png") -47px 0;
    width: 26px;
    height: 20px;
    cursor: pointer;
    transition: 0.2s;
}
.journey{
    display: inline-block;
    background: url("sprites/spriteAll.png") -103px 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: 0.2s;
}
.calendar:hover{
    background: url("sprites/spriteAll.png") 0 20px;
    transition: 0.2s;
}
.forum:hover{
    background: url("sprites/spriteAll.png") -47px 20px;
    transition: 0.2s;
}
.journey:hover{
    background: url("sprites/spriteAll.png") -103px 20px;
    transition: 0.2s;
}
.authorisation{
    position: absolute;
    top: 16px;
    right: 31px;
}
.welcome{
    color: #ffffff;
    font-family: Verdana;
}
.login a{
    color: #3cb878;
    text-decoration: none;
}
.welcome a:hover{
    text-decoration: underline;
}
.flex{
    display: flex;
    justify-content: center;
}
.box{
    position: absolute;
    top: calc(50% - 230px);
    border-radius: 10px;
    border: none;
    width: 444px;
    height: 584px;
    background-color: #ffffff;
    font-family: Verdana;
}
.square{
    position: absolute;
    top: 29px;
    width: 18px;
    height: 18px;
    background-color: #3cb878;
}
.signUp{
    position: absolute;
    bottom: 536px;
    left: 60px;
    font-size: 20px;
    color:  #434343;
    font-weight: 400;
}
.linkForm a{
    position: absolute;
    bottom: 538px;
    left: 342px;
    color:  #3cb878;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}
.linkForm a:hover{
    text-decoration: underline;
}
button{
    position: absolute;
    width: 157px;
    height: 46px;
    top: 63px;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-family: Verdana;
    cursor: pointer;
    display: inline-block;
}
.button1{
    padding-left: 53px;
    left: 62px;
    background-color: #305db8;
}
.button1:hover{
    background-color: #264b96;
}
.vl1{
    position: absolute;
    height: 28px;
    top: 9px;
    left: 46px;
    border-left: 1px solid #4B47BC;
}
.button2{
    padding-left: 53px;
    left: 227px;
    background-color: #df4a32;
}
.button2:hover {
    background-color: #c3412c;
}
.vl2{
    position: absolute;
    height: 28px;
    top: 9px;
    left: 56px;
    border-left: 1px solid #C62F6F;
}
.fa {
    position: absolute;
    top: 15px;
    left: 18px;
}
.or{
    padding: 18px;
    position: absolute;
    top: 122px;
    left: 197px;
    background-color: #ffffff;
    color: #848484;
}
hr{
    position: absolute;
    top:142px;
    left: 62px;
    width: 321px;
    color: #848484;
}
.form {
    position: relative;
    top: 168px;
    left: 62px;
    border: none;
}
input[type=text],
input[type=text2],
input[type=email],
input[type=contacts],
input[type=password]
{
    width: 322px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.input:focus {
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
}
.conditions a{
    text-decoration: none;
    color: #3cb878;
}
.conditions:hover a{
    text-decoration: underline;
}
.create{
    margin-top: 12px;
}
footer{
    text-decoration: none;
    position: absolute;
    top: 506px;
    left: 62px;
    border-radius: 5px;
    background-color: #3cb878;
    width: 322px;
    height: 46px;
    text-align: center;
}
footer a{
    text-decoration: none;
    color: #ffffff;
}
footer:hover {
    background-color: #3cb840;
}
